@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nosifer&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.nosifer-regular {
  font-family: "Nosifer", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.layout {
  @apply relative bg-[#181411] w-full h-screen flex flex-col items-center justify-center bg-[url(../assets/images/orange-back.png)] bg-fixed bg-cover bg-center bg-no-repeat;
}

.wrap-lobby {
  @apply sm:w-[70%] flex flex-col items-center justify-center text-gray-400 border-[1px] border-orange-500 rounded-xl p-5 bg-orange-400/10 backdrop-blur-md shadow-xl;
}

.btn {
  @apply w-[80%] md:w-[50%] border-2 rounded-md py-2 transition-all;
}

.btn-primary {
  @apply border-orange-500 bg-orange-500 hover:bg-orange-600 text-white;
}

.btn-brown {
  @apply border-[#392f28] bg-[#392f28] hover:bg-[#4a3b32] text-white;
}

.btn-outline {
  @apply border-orange-500 text-white hover:bg-orange-500/50;
}

/* width */
::-webkit-scrollbar {
  @apply w-3;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-black/50;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-orange-600 rounded-lg;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-orange-700;
}

@keyframes fly {
  0% {
    left: -15%;
    transform: translateY(0) scale(1);
    opacity: 0.6;
  }

  50% {
    transform: translateY(30px) scale(1.1);
    opacity: 0.8;
  }

  100% {
    left: 115%;
    transform: translateY(-10px) scale(0.8);
    opacity: 0.5;
  }
}

.animate-fly {
  animation:
    fly 20s linear infinite,
    ease-in-out bounce 5s infinite;
}
